<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>SimplePay</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{ url_for('static',filename= 'img/shopping.png') }}" rel="icon">
  <link href="{{ url_for('static',filename= 'img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">

  <link href="{{ url_for('static',filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ url_for('static',filename='lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='lib/animate/animate.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">
  <style>
  input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color:whitesmoke;
  text-align: center;
}
  
  </style>
  <script type="text/javascript">

    function myFunction() {
      var loginDiv = document.getElementById("toggleLogin");
      var registerDiv = document.getElementById("toggleRegister");

      if (loginDiv.style.display === "none") {
        loginDiv.style.display = "block";
        registerDiv.style.display = "none";
      } else {
        loginDiv.style.display = "none";
        registerDiv.style.display = "block";
      }
    }
  </script>
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header">

    <div id="topbar">
      <div class="container">
        <!-- <div class="social-links">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        </div> -->
      </div>
    </div>

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="#intro" class="scrollto"><span>SIMPLEPAY</span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Home</a></li>
          <li><a href="#register">Register/Login</a></li>
          <li><a href="#team">Team</a></li>
        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h2>Simple Pay<br>for simple <span>FOOD!</span></h2>
          <div>
            <a href="#register" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>

        <div class="col-md-6 intro-img order-md-last order-first">
          <img src="{{ url_for('static',filename='img/intro-img.svg') }}" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">
    <section id="register">
      <div style="text-align:center">
      <div id="toggleRegister" style="display: none">

        <div id="formContent" style="display: inline-block; padding: 50px; margin: 50px">
          <!-- Tabs Titles -->

          <!-- Icon -->
          <div class="fadeIn first">
            <h2> Add a new Canteen </h1>
              <img src="{{ url_for('static',filename='img/canteen5.jpg') }}" id="icon" alt="Canteen Icon" style="height: 50% ;width: 50%"/>
          </div>

          <!-- Login Form -->
          <form action="http://localhost:5000/add_canteen" method="POST">

            <input type="text" id="login" class="fadeIn second" name="canteen" placeholder="Enter Canteen" >
            <input type="password" id="login" class="fadeIn third" name="password" placeholder="Set a Password">
            <input type="submit" class="fadeIn fourth" value="Add Canteen">
            <br>
          </form>
          <button type="button" class="btn btn-link"  onclick="myFunction(this)">Already Registered?</button>


        </div>
      </div>

      <div id="toggleLogin" >

        <div id="formContent" style="display: inline-block; padding: 50px; margin: 50px">
          <!-- Tabs Titles -->

          <!-- Icon -->
          <div class="fadeIn first">
            <h2> Login to a Canteen </h1>
              <img src="{{ url_for('static',filename='img/user.png') }}" id="icon" alt="User Icon" />
          </div>

          <!-- Login Form -->
          <form action="http://localhost:5000/login_admin" method="POST">

            <input type="text" id="login" class="fadeIn second" name="canteen" placeholder="Enter Canteen">
            <input type="password" id="login" class="fadeIn third" name="password" placeholder="Enter Password">
            <input type="submit" class="fadeIn fourth" value="Log In">
            <br>
          </form>
                      <button type="button" class="btn btn-link" onclick="myFunction(this)">Not yet Registered?</button>



        </div>
      </div>
      </div>
    </section><!-- #register -->

    <!--==========================
      Login Section
    ============================-->
    <section id="login">

    </section><!-- #login -->



    <!--==========================
      Team Section
    ============================-->
    <section id="team" class="section-bg">
      <div class="container" style="padding-top:100px;padding-bottom: 100px ">
        <div class="section-header">
          <h3>The rescue for the queue</h3>
          <br>
          

        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6 wow fadeInUp">
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="{{ url_for('static',filename='img/team-jayraj.jpg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Jayraj Mulani</h4>
                  <span>Cofounder, COO and Development Lead</span>
                  <div class="social">
                    <a href="https://www.linkedin.com/in/jayraj-mulani-33b384127/"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="{{ url_for('static',filename='img/team-kalpan.jpg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Kalpan Tumdi</h4>
                  <span>Cofounder, CEO</span>
                  <div class="social">
                    <a href="https://www.linkedin.com/in/kalpan-tumdi/"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp">
          </div>
        </div>
    </section><!-- #team -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='lib/jquery/jquery-migrate.min.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/mobile-nav/mobile-nav.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/isotope/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/lightbox/js/lightbox.min.js') }}"></script>
    <!-- Contact Form JavaScript File -->
    <script src="{{ url_for('static',filename='contactform/contactform.js') }}"></script>

</body>

</html>